.directory-tags {
    margin: 0;  
}

.directory-filter-info {
    padding: 0 0 0 0;
    margin: 0 0 5px 0;
    display: block;
}

.directory-tags a span {
    background-color: white;   
    padding: 0 1px 0 0;
}

.directoryResult {
    margin-left: -10px;   
}