/* overrides certain izug.basetheme styles */
.directory-tags {
    margin-left: 20px;   
}

.portaltype-seantis-dir-council-directory #content #directoryResultList .directoryResult:first-child {
    padding-top: 5px;
}

.directory-tags span {
    background-color: #efefef;
    font-size: 10px;
    padding: 2px 4px;
    border-radius: 2px;
}

#content .directory-tags a {
    display: inline;
    padding: 0; 
    font-weight: normal;
    color: black;
}

.council-details .directoryInfoText {
    padding-left: 0 !important;
}

.council-details .directoryInfoImage {
    float: left !important;   
}

div.council-address {
    float: left;   
}

div.council-address ul {
    list-style: none;
}

ul.council-address li {
    line-height: 12px;   
}

.council-tags {
    float: right;
    
}

.council-tags h3 {
    border-bottom: 1px solid #ddd;
    min-width: 400px;
}

.council-tags ul {
    list-style: none;
    margin-left: 0;   
}

.council-tags span {
    display: block;
    line-height: 16px;
    float: left;
}

.council-tag-description-block {
    float: left;
    margin-left: 10px;
    max-width: 360px;
}